<h1>Smart Coaching</h1>

<h3> Ask your coach anything!:</h3>

<form action="/answer" method="get" data-turbo="false">
   <input type="text" name="question">
   <input type="submit" value="ask">
</form>
